html {
  background-color: black;
}

/* maintain 960x540 aspect ratio */
#unityContainer {
  width: 100vw;
  height: 56.25vw;
}

@media only screen and (max-width: 1366px), (max-height: 768px) {
  #unityContainer {
    width: 1230px;
    height: 692px;
  }
}

.webgl-content * {
  border: 0;
  margin: 0;
  padding: 0;
}

.webgl-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
